.venv/
**/.venv/
**/.venv-cuda/
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.vscode/

logs/*.log
**/logs/*.log
results/*
**/results/*
!results/.gitkeep
!**/results/.gitkeep

*.zip
NUL
**/NUL
